.root {
    -fx-background-image: url('../Images/background-image.jpeg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.list-cell {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

.list-view {
    -fx-background-color: rgba(240, 240, 240, 0.8);
    -fx-border-color: #d93131;
    -fx-border-width: 2;
}


